.root {
}

.wrapper {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.middleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;

  color: var(--gray);
  @include onest_400_20;

  svg {
    width: 24px;
    height: 24px;
  }
}

// .rightBlock {
// }

.btnNext {
  width: 240px;
  background: linear-gradient(180deg, #2e7eff 0%, #1c4c99 100%);
  border-radius: 16px;
  padding: 12px 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  @include onest_400_20;
  @include transition;

  &:hover {
    box-shadow:
      0 0 54px 12px rgba(46, 126, 255, 0.3),
      0 0 65px 12px rgba(28, 76, 153, 0.3);
  }
}

.leftBlock {
  width: 240px;
}

.btnBack {
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
  @include onest_400_20;
  @include transition;

  &:hover {
    color: var(--blue);
  }
}
