.root {
  background: radial-gradient(96.36% 132.53% at 20.09% -15.1%, #000 0%, #4c4c4c 100%);
  border: 1px solid #4c4c4c;
  border-radius: 16px;
  padding: 24px 40px;
  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include transition;

  &.active {
    transform: rotate(180deg);
  }
}

.questionText {
  font-weight: 600;
  font-size: 20px;
  color: var(--blue);
}

.answerText {
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  padding-top: 24px;
}
