.btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  top: 24px;
  background-color: transparent;
  width: 82px;
  height: 36px;

  &:active,
  &:focus {
    background-color: transparent;
  }

  &.prev {
    left: -64px;
    top: 50%;
    animation: fly-left 1.5s linear infinite;
  }

  &.next {
    right: -94px;
    top: 50%;
    animation: fly-right 1.5s linear infinite;
  }
}

@keyframes fly-left {
  0% {
    transform: translateX(100%) translateY(-50%);
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    transform: translateX(-120%) translateY(-50%);
    opacity: 0;
  }
}

@keyframes fly-right {
  0% {
    transform: scaleX(-1) translateX(100%) translateY(-50%);
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    transform: scaleX(-1) translateX(-120%) translateY(-50%);
    opacity: 0;
  }
}
