.ThreeSection {
  max-width: 1608px;
  margin: 0 auto;
  margin-top: 100px;

  h1 {
    font-weight: 600;
    font-size: 75px;
    color: var(--gray);
  }
  .items {
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    gap: 135px;

    .itemWrapper {
      position: relative;

      &:nth-child(3) {
        .item {
          display: flex;
          align-items: center;
        }
      }

      .item {
        position: static;
        border: 3px solid var(--blue);
        border-radius: 30px;
        width: 100%;
        padding: 50px 72px;
        height: 330px;

        .text {
          max-width: 697px;
          display: flex;
          flex-direction: column;
          gap: 50px;

          p {
            font-weight: 600;
            font-size: 30px;
          }
        }

        .text2 {
          max-width: 697px;
          display: flex;
          margin-left: auto;
          flex-direction: column;
          gap: 50px;

          p {
            font-weight: 600;
            font-size: 30px;
          }
        }
      }
      .img {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .img2 {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
