:root {
  --bg_main: #0c0c0c;
  --white: #ffffff;
  --gray: #939393;
  --gray2: #868484;
  --gray3: #f6f6f6;
  --blue: #2e7eff; 
  // --gray2: #7c7c7c;
  // --aqua: #68e8a9;
  // --white_alpha: rgba(255, 255, 255, 0.03);
  --red: #fb4646;
  --black: #000000;
  --bg_gradient: radial-gradient(126.63% 130.61% at 36.18% -10.48%, #323435 0%, #000 100%);
  --bg_gradient_footer: linear-gradient(180deg, #202020 0%, #000 100%);
  // --pink: #e368e8;
  // --blue_light: #38a7fc;
  // --bg_card: linear-gradient(
  //   to right,
  //   rgba(0, 28, 68, 0.95) 0%,
  //   rgba(0, 51, 102, 0.8) 50%,
  //   rgba(0, 28, 68, 0.1) 100% // );
}
