:root {
  --bg_main: #0c0c0c;
  --white: #ffffff;
  --gray: #939393;
  --gray2: #2d2d2d;
  --blue: #2e7eff;
  // --aqua: #68e8a9;
  // --white_alpha: rgba(255, 255, 255, 0.03);
  --red: #fb4646;
  // --black: #000000;
  // --pink: #e368e8;
  // --blue_light: #38a7fc;
  // --bg_card: linear-gradient(
  //   to right,
  //   rgba(0, 28, 68, 0.95) 0%,
  //   rgba(0, 51, 102, 0.8) 50%,
  //   rgba(0, 28, 68, 0.1) 100% // );
}
