:root {
  --bg_main: #0c0c0c;
  --white: #ffffff;
  --gray: #939393;
  --gray4: #868484;
  --gray3: #f6f6f6;
  --gray2: #2d2d2d;
  --blue: #2e7eff; 
  --red: #fb4646;
  --black: #000000;
  --bg_gradient: radial-gradient(126.63% 130.61% at 36.18% -10.48%, #323435 0%, #000 100%);
  --bg_gradient_footer: linear-gradient(180deg, #202020 0%, #000 100%);
}
