.SecondSection {
  max-width: 1610px;
  margin: 0 auto;

  .title {
    font-weight: 600;
    font-size: 75px;
    color: var(--gray);
  }
  .title2 {
    font-weight: 100;
    font-size: 75px;
    color: #939393;
    text-align: end;
  }

  .items_wrapper {
    margin-top: 80px;
    position: relative;
    height: 213px;

    .cirlces {
      position: absolute;
      top: 50%;
      transform: translateY(-35px);
      z-index: 0;
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      height: 23px;
      background: var(--gray2);
      border-radius: 40px;
      padding: 4px 6px;
    }

    .items {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      gap: 115px;

      .item {
        padding-left: 6px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        &:nth-child(1) {
          max-width: 485px;
        }
        &:nth-child(2) {
          max-width: 459px;
        }
        &:nth-child(3) {
          max-width: 432px;
        }

        .title {
          max-width: 298px;
          width: 100%;
          font-weight: 600;
          font-size: 32px;
          color: var(--white);
          span {
            color: var(--blue);
          }
        }
        .text {
          font-weight: 400;
          font-size: 24px;
          color: var(--white);
        }
        .circle {
          background: var(--blue);
          border-radius: 100%;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
